section.subwindow.add {
	max-height: calc( 100vh - 355px );
}
section.subwindow {
	max-height: calc( 100vh - 130px );
}
.pos .stock-picking-screen .stock-picking-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .stock-picking-screen .stock-picking-list th,
.pos .stock-picking-screen .stock-picking-list td {
    padding: 0px 8px;
}
.pos .stock-picking-screen .stock-picking-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .stock-picking-screen .stock-picking-list thead > tr,
.pos .stock-picking-screen .stock-picking-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .stock-picking-screen .stock-picking-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .stock-picking-screen .stock-picking-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .stock-picking-screen .stock-picking-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .stock-picking-screen .picking-details{
    padding: 16px;
    border-bottom: solid 5px rgb(110,200,155);
    height: 190px;
}
.pos .stock-picking-screen .product-picture{
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}
.pos .stock-picking-screen .product-picture > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}
.pos .stock-picking-screen .product-picture > .fa {
    line-height: 64px;
    font-size: 32px;
}
.pos .stock-picking-screen .product-picture .image-uploader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.pos .stock-picking-screen .picking-name {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}
.pos .stock-picking-screen .edit-buttons {
    position: absolute;
    right: 16px;
    top: 10px;
}
.pos .stock-picking-screen .edit-buttons .button{
    display: inline-block;
    margin-left: 16px;
    color: rgb(128,128,128);
    cursor: pointer;
    font-size: 36px;
}
.pos .stock-picking-screen .picking-details-box{
    position: relative;
    font-size: 16px;
}
.pos .stock-picking-screen .picking-details-left{
    width: 50%;
    float: left;
}
.pos .stock-picking-screen .picking-details-right{
    width: 50%;
    float: right;
}
.pos .stock-picking-screen .product-detail{
    line-height: 24px;
}
.pos .stock-picking-screen .product-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .stock-picking-screen .picking-details input,
.pos .stock-picking-screen .picking-details select
{
    padding: 4px;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: white;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .stock-picking-screen .picking-details input.picking-name {
    font-size: 24px;
    line-height: 24px;
    margin: 18px 6px;
    width: 340px;
}
.pos .stock-picking-screen .product-detail > .empty{
    opacity: 0.3;
}
.pos .stock-picking-screen .button.new-product {
    left: 50%;
    margin-left: 120px;
}

/* Pagination */
/* #pagination { */
/*     margin-top: 20px; */
/*     float: left; */
/* } */

/* #pagination div { */
/*     display: inline-block; */
/* } */
.pos .stock-picking-screen .window,
.pos .stock-picking-screen .full-content .subwindow{
    display: block;
}
.pos .stock-picking-screen .full-content .subwindow-container{
    display: block;
    height: 100%;
}
.pos .stock-picking-screen .full-content .subwindow.collapsed,
.pos .stock-picking-screen .full-content .subwindow-container.collapsed{
    height: auto;
}
/* .screen .top-content .date-filter input { */
/*     margin-top: 13px; */
/*     margin-left: 12px; */
/*     width: 150px; */
/*     height: 27px */
/* } */
.screen .top-content .date-filter i {
    height: 20px;
}
.pos .stock-picking-screen .searchbox {
    right: auto;
    margin-left: -150px;
    margin-top: 0px;
    left: 92%;
}
.pos .stock-picking-screen .searchbox input {
    width: 120px;
}